
.botao {
    display: inline-block;
    padding: 16px 32px;
    margin-bottom: 5px;
    background: linear-gradient(#ffbf00, #f2a50c);
    color: inherit;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #000;
    text-transform: uppercase;
    color: #332200;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
}

.botao:hover {
    background: linear-gradient(#ffb60d, #e59317);
}
