#contato {
    background: linear-gradient(var(--cor-11) 600px, var(--cor-0)  0px);
}

.contato {
    display: grid;
    grid-template-columns: 5fr 7fr;
    margin-bottom: 120px;
}

.contato-dados,
.contato-formulario {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.contato-dados {
    background-color: var(--cor-12);
    border-radius: 5px 0 0 5px;
}

.contato-dados h2 {
    margin-bottom: 60px;
}

.contato-endereco {
    margin-bottom: 32px;
    padding-left: 28px;
    background: url("./../../img/icones/local.svg") no-repeat 0px 2px;
}
.contato-endereco p {
    padding-bottom: 10px;
}
.contato-dados h2 .contato-formulario {
    background-color: var(--cor-0);
}

.contato-meios a {
    display: block;
    width: max-content;
    padding: 5px 28px;
}

.contato-meios a:first-child {
    background: url("./../../img/icones/email.svg") no-repeat 0px 6px;
}

.contato-meios a:nth-child(2) {
    margin-bottom: 32px;
}

.contato-meios a:last-child {
    background: url("./../../img/icones/telefone.svg") no-repeat 0px 5px;
    margin-bottom: 60px;
}

.contato-redes {
    display: flex;
    justify-content: start;
    padding-left: 28px;
    gap: 32px;
}
.contato-formulario{
    background-color: var(--cor-0);
}

@media(max-width: 800px) {
    .contato {
        grid-template-columns: 1fr;
    }

    .contato-dados h2 {
        margin-bottom: 30px;
    }

    .contato-dados,
    .contato-formulario {
        padding: 20px;
    }

    .contato-meios a:nth-child(2) {
        margin-bottom: 20px;
    }

    .contato-meios a:last-child {

        margin-bottom: 30px;
    }

    .contato-dados {
        background-color: var(--cor-12);
        border-radius: 5px 5px 0 0;
    }
}